<div class="sidebar toggled col-lg-3">

    <div class="sidebar-group">
        <div data-toggle="collapse" data-parent=".sidebar" href="#firstChild" class="rippled sidebar-group-title active">
            <i class="material-icons">chevron_right</i>
            Aplicativos
            <span class="material-icons float-right">add</span>
        </div>
        <div id="firstChild" class="collapse show sidebar-group-list">
            <div class="sidebar-group-list-item">Go Reach</div>
            <div class="sidebar-group-list-item">#PartiuVender</div>
            <div class="sidebar-group-list-item">Force Investor</div>
            <div class="sidebar-group-list-item">Conta Ágil</div>
        </div>
    </div><!-- grupo 1 -->

    <div class="sidebar-group">
        <div data-toggle="collapse" data-parent=".sidebar" href="#secondChild"  class="sidebar-group-title">
            <i class="material-icons">chevron_right</i>
            Aplicativos
        </div>
        <div id="secondChild" class="collapse sidebar-group-list">

            <div class="sidebar-group-list-item active">
                <i class="material-icons">lock</i>
                Minha conta
            </div>

            <div class="sidebar-child-accordion">
                <div data-parent="#secondChild" href="#android" data-toggle="collapse" class="rippled sidebar-group-list-item">
                    <i class="material-icons">android</i>
                    Android
                </div>

                <div id="android" class="collapse sidebar-child-group mt-2">
                    <div class="sidebar-child-group-item">Adicionar</div>
                    <div class="sidebar-child-group-item">Remover</div>
                    <div class="sidebar-child-group-item">Editar</div>
                    <div class="sidebar-child-group-item">Enviar e-mail</div>
                </div>
            </div><!-- android accordion -->


            <div class="sidebar-child-accordion">
                <div data-parent="#secondChild" href="#crons" data-toggle="collapse" class="rippled sidebar-group-list-item">
                    <i class="material-icons">alarm</i>
                    Crons
                </div>

                <div id="crons" class="collapse sidebar-child-group mt-2">
                    <div class="sidebar-child-group-item">Adicionar</div>
                    <div class="sidebar-child-group-item">Remover</div>
                    <div class="sidebar-child-group-item">Editar</div>
                    <div class="sidebar-child-group-item">Enviar e-mail</div>
                </div>
            </div><!-- cron accordion -->

        </div>
    </div>

</div>