
// Grey Scale Mixin
@mixin grayscale_element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}

.rippled {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(0, 0, 0, .2);
        border-radius: 100%;
        opacity: 0;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }

    &:not(:active):after {
        animation: ripple 1s ease-out;
    }  
}

// End of file