$theme-colors: (
    "primary": #32302F,
    "primary-hover": #5b5b5b
);

$colors: (
    "gray-100": #F8F9FA,
    "gray-200": #E9EBEF,
    "gray-300": #DDE0E6,
    "gray-400": #ACB2BD,
    "gray-500": #ACB2BD,
    "gray-600": #868B96,
    "gray-700": #4B5059,
    "gray-800": #383C43,
    "gray-900": #27292E,
);

$body-bg: #F3F5F8;

// End of file