{% extends "layouts/master.html" %} {% block content %}

<div class="page-header">
    <h1>Logs Timeline</h1>
</div>
<hr>

<ul class="timeline">
    <h5 class="title-timeline">Novembro 2017</h5>
    <li>
        <div class="timeline-badge">
            <i class="fa fa-user"></i>
        </div>
        <div class="timeline-panel">
            <div class="row">
                <div class="col">
                    <img class="avatar-image" width="30px" src="images/avatar.jpg" alt="">
                    <h4 class="card-title">Gustavo Villas Boas...</h4>
                </div>
                <!-- left content -->

                <div class="col text-right">
                    <p class="user-permission">
                        <i class="fa fa-black-tie"></i> Admin
                    </p>
                </div>
                <!-- right content -->
            </div>
            <hr class="mt-1">
            <div class="body">
                <div class="row">
                    <div class="col">
                        <p class="card-text">Logou no sistema.</p>
                    </div>
                    <div class="col time text-right text-info">
                        <p mr-5><i class="fa fa-calendar"></i> 06/02/16</p>
                        <p><i class="fa fa-clock-o"></i> 09:30</p>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <!-- --------------------------------------------------------- -->
    <li>
    <div class="timeline-badge">
        <i class="fa fa-user"></i>
    </div>
    <div class="timeline-panel">
        <div class="row">
            <div class="col">
                <img class="avatar-image" width="30px" src="images/avatar.jpg" alt="">
                <h4 class="card-title">Gustavo Villas Boas...</h4>
            </div>
            <!-- left content -->

            <div class="col text-right">
                    <p class="user-permission">
                        <i class="fa fa-black-tie"></i> Admin
                    </p>
                </div>
                <!-- right content -->
            </div>
            <hr class="mt-1">
            <div class="body">
                <div class="row">
                    <div class="col">
                        <p class="card-text">Logou no sistema.</p>
                    </div>
                    <div class="col time text-right text-info">
                        <p mr-5><i class="fa fa-calendar"></i> 06/02/16</p>
                        <p><i class="fa fa-clock-o"></i> 09:30</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
{% endblock %}